body {
  background: #ffffff;
}

h1{
  text-align: center;
}

hr{
  border: 1px solid;
  border-radius: 2px;
  width: 20%;
  font-weight: bolder;
}

/* Navbar */
.navbar{
  position: fixed;
  width: 100%;
  float: none;
}

.navbar-nav {
  margin-left: 600px;
}

.nav-item {
  padding-left: 20px;
  padding-right: 20px;
}

/* Home Container */
.home-container {
  height: 800px;
  text-align: center;
  padding-top: 15%;
  padding-bottom: 7%;
}

.intro{
  color: white;
}

/* About Container  */
.about-container {
  text-align: center;
  padding: 0 250px 100px 250px;
}

.about-para {
  line-height: 3;
  text-align: left;
}

.pic1 {
  float: left;
  border-radius: 100%;
  padding-right: 40px;
  padding-left: 40px;
}

/* Skills Container */
.skills-container {
  background-color: #b9ac92;
  padding: 10px 250px 0 250;
  text-align: center;
}

.top-stuff{
  padding-top: 60px;
}

.bottom-stuff{
  padding-top: 60px;
}

.lower-bottom{
  padding-top: 60px;
}

.skillContent{
  padding-bottom: 50px;
}

/* Projects Container */
.projects-container {
  text-align: center;
  padding: 30px 250px 100px 250px;
}

/* .projectImg{
  width: 50%;
} */

.projectContent {
  position: relative;
  padding: 0;
  width: 300px;
  display: block;
  cursor: pointer;
  overflow: hidden;
}

.content {
  opacity: 0;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(1, 39, 2, 0.932);
  background-color: rgba(200, 200, 200, 0.5);
  width: 300px;
  height: 200px;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
}

.projectContent .content:hover {
  opacity: 1;
}

.projectContent .content .text {
  height: 0;
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.4s;
}

.projectContent .content:hover .text {
  opacity: 1;
  transform: translateY(250px);
  -webkit-transform: translateY(250px);
}

/* Quotes Carousel */

.carousel-inner > .carousel-item > img{
  width:350px;
  height:500px;
}

/* Contact Container */
.contact-container{
  text-align: center;
  background-color: rgb(218, 214, 214);
}

/* Footer container */

.footer{
  text-align: center;
  background-color: #b9ac92;
  padding-top: 10px;
  padding-bottom: 20px;
}

.fab{
  padding-right: 10px;
  padding-left: 10px;
}
